*{
    margin: 0;
    padding: 0;
    font-family: 'Macondo', cursive;
}
#banner{
    background-image:linear-gradient(rgba(0,0,0,0.5),#009688),url(C:\Users\User\OneDrive\Desktop\background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
   
}
.banner-text{
    text-align: center;
    color: aliceblue;
    padding-top: 280px;
    
}
.banner-text h1{
    font-size: 50px;

}
.banner-text p{
    font-size: 30px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;

}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: aliceblue;
    border: 5px solid rgba(255, 255, 255, 0.925);
   
    position: relative;
    z-index: 1;
    transition: colour 0.5s;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aliceblue;
    z-index: -1;   
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;

}
.banner-btn a:hover{
    color: black;

}